* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/klient/main/img/budynek-3_72dpi.jpg'); /* Zdjęcie tla */
    background-size: 110%;
    color: #333;
    padding: 2%;
    position: relative; /* Dodajemy pozycję względną, aby gradient był względem rodzica (body) */
    height: 100vh;
}

/* Dodajemy gradient jako nakładkę na tło */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)); /* Tutaj definiujemy gradient białej "mgły" */
    z-index: 1; /* Ustawiamy warstwę na niższą niż tło, aby nakładka była pod tekstem */
}

header {
    font-size: 200%;
    text-align: center;
    padding: 2% 0;
    position: relative;
    z-index: 2; /* Ustawiamy warstwę na wyższą niż nakładka, aby tekst był nad efektem mgły */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

/* .image-column {
    flex-basis: 65%;
    padding: 0 1%;
} */

.data-column {
    flex-basis: 100%;
    padding: 0 1%;
}

#imageContainer {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto; /* Ustawienie szerokości kontenera obrazu */
    height: 70vh; /* Ustawienie wysokości kontenera obrazu */
    position: relative;
    margin-right: 5%;
}

#imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.6s ease-in-out;  
}

.weather-data {
    margin-top: 1%;
}

.data-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;
    position: relative;
    z-index: 2; /* Ustawiamy warstwę na wyższą niż nakładka, aby tekst był nad efektem mgły */
}

.data-item img {
    width: 8%;
    height: 3%;
    margin-right: 8%;
}

.data-item p {
    font-size: 150%;
    font-weight: bold;
}

.data-item span {
    font-weight: normal;
    color: #f44336;
}
.data-item {
    background-color: rgba(255, 255, 255, 0.55); /* Przezroczysty biały na tlo parametrow */
    padding: 20px; /* wielkosc */
    border-radius: 10px; /* zaookrąglenie boxu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* cien dodany do boxa z danymi */
}
